html {
    height: 100%;
}

.header {
    margin-top: 5%;
}

.main-content {
    min-height: 75vh;
}

.logo-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    border: 0.1rem black solid;
    padding: 1rem 1.5rem;
    border-radius: 30%;
}


.logo-home:hover {
    /* background-color:#54ff8a  ; */
    background: linear-gradient(352deg, #328a09, #95e117);
}
.logo-github:hover {
    /* background-color:#54ff8a  ; */
    background: linear-gradient(352deg, #6e746c, #093228);
}
.logo-linkedin:hover {
    /* background-color:#54ff8a  ; */
    background: linear-gradient(352deg, #62b1ff, #1655f3);
}
.logo-cv:hover {
    /* background-color:#54ff8a  ; */
    background: linear-gradient(352deg, #EECDA3, #EF629F);
}




@media only screen and (min-width: 700px) {
    body {
        height: 100%;
        background-image: url(../images/second_try.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.footer {
    border-top: 1px solid black;
    max-height: 20vh;
}

.footer .container {
    margin-top: 3%;
}

.container #joke-api {
    background-color: lightgoldenrodyellow;
    opacity: 0.5;
}

.container #joke-here {
    border : 1px solid magenta;
    background-color: beige;
}

.main {
    margin-top: 10%;
}

.main-content img {
    max-width: 100%;
    max-height: 100%;
    width: 2.25rem;
    height: 2.25rem;
}


/* #store-image {
    height: 100%;
    width: 100%;
} */