html {
    height: 100%;
}

.header {
    margin-top: 5%;
}

.main-content {
    min-height: 75vh;
}


@media only screen and (min-width: 700px) {
    body {
        height: 100%;
        background-image: url(../images/second_try.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

.footer {
    border-top: 1px solid black;
    max-height: 20vh;
}

.footer .container {
    margin-top: 3%;
}

.container #joke-api {
    background-color: lightgoldenrodyellow;
    opacity: 0.5;
}

.container #joke-here {
    border : 1px solid magenta;
    background-color: beige;
}

.main {
    margin-top: 10%;
}

/* #store-image {
    height: 100%;
    width: 100%;
} */