body {
    background-color: darkseagreen;
}

.heading1 {
    color:lavenderblush;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

a:hover {
    color : inherit;
    text-decoration: inherit;
}